# R Project files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# rsconnect publication data
notebooks/rsconnect/

# Endnote support files
*endnote.Data/
*backup.enl

# System files
.DS_Store

# Don't track main page HTML preview
README.html
